@font-face {
  font-family: 'ku';
  src:  url('fonts/ku.eot?azsnlb');
  src:  url('fonts/ku.eot?azsnlb#iefix') format('embedded-opentype'),
    url('fonts/ku.ttf?azsnlb') format('truetype'),
    url('fonts/ku.woff?azsnlb') format('woff'),
    url('fonts/ku.svg?azsnlb#ku') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ku-"], [class*=" ku-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ku' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ku-clock:before {
  content: "\e907";
}
.ku-price:before {
  content: "\e908";
}
.ku-jack:before {
  content: "\e904";
  color: #474747;
}
.ku-lighting:before {
  content: "\e905";
  color: #474747;
}
.ku-temperature:before {
  content: "\e906";
  color: #474747;
}
.ku-shell:before {
  content: "\e901";
}
.ku-box:before {
  content: "\e900";
}
.ku-books:before {
  content: "\e902";
}
.ku-scissors:before {
  content: "\e903";
}
