.item-info {
    grid-gap: 40px;
}
.zone-img-2 {
    background: #FDE4CA;
    display: grid;
    align-items: center;
    justify-items: center;
}
.zone-img-2 > img {
    width: 65%;
}
.zone-Feature, .other-info .item {
    display: grid;
    grid-gap: 24px;
}
.other-info .item-content {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 24px;
}
.other-info {
    background-image: url(../wwwroot/img/Tailorcozy/Function-BG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.function-sm {
    display: none;
}
/* 所有小螢幕 */
@media screen and (max-width: 1366px) {
    .item-content img {
        max-width: 230px;
    }
    .zone-img-2 > img {
        width: 80%;
    }
    .other-info {
        background-image: url(../wwwroot/img/Tailorcozy/Function-BG-sm.png);
        background-position: center;
    }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
    .function-lg {
        display: none;
    }
    .function-sm {
        display: block;
    }
    .other-info .item {
        width: 100%;
    }
    .other-info .item-content {
        grid-template-columns: 1fr;
        grid-gap: 0 24px;
        justify-self: center;
    }
    .item-content img {
        max-width: 280px;
    }
    #zone-2 {
        grid-auto-flow: column;
        grid-auto-columns: 3fr 4fr;
    }
    .zone-img-2 {
        order: 2;
    }
    .zone-img-2 > img {
        width: 85%;
    }
}
@media screen and (max-width: 768px) and (max-height: 1024px) {
    .item-content img {
        max-width: 250px;
    }
}
@media screen and (max-width: 1080px) and (max-height: 810px) {
    .zone-Feature {
        grid-gap: 4px;
    }
    .item-content img {
        max-width: 200px;
    }
}
@media screen and (max-width: 1024px) and (max-height: 768px) {
    #zone-2 > .other-info {
        order: 1;
    }
    .zone-img-2 > img {
        width: 80%;
    }
    .zone-Feature, .other-info .item {
        grid-gap: 12px;
    }
    .function-sm {
        display: none;
    }
    .function-lg {
        
        display: block;
    }
    .other-info .item-content {
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px 0;
    }
    .item-info {
        grid-gap: 24px;
    }
    #zone-2 {
        grid-template-columns: 1fr 1fr;
    }
    #zone-2 > .other-info {
        grid-column: unset;
    }
    .zone-Feature {
        grid-gap: 4px;
    }
}
@media screen and (max-width: 810px) and (max-height: 1080px) {
    #zone-2 {
        grid-auto-columns: 5fr 6fr;
    }
}
@media screen and (max-width: 932px) and (max-height: 932px) {
    .zone-Feature, .other-info .item {
        grid-gap: 12px;
    }
    .Feature-img img {
        max-height: 50px;
        max-width: 40px;
    }
    .item-info {
        grid-gap: 24px;
    }
    .function-lg {
        display: none;
    }
    .function-sm {
        display: block;
    }
    .other-info .item-content {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .other-info img {
        max-width: 280px;
    }
    .other-info {
        padding: 7% 8%;
    }
    .function-sm {
        margin-top: -24px;
    }
    .function-sm:nth-child(5) {
        margin-top: 0;
    }
}
@media screen and (max-width: 500px) {
    #zone-2 {
        grid-auto-flow: row;
    }
    .zone-img-2 {
        order: 1;
        padding: 24px;
    }
    .Feature-img {
        width: 64px;
        height: 64px;
    }
    .zone-Feature > div:nth-child(2) {
        grid-gap: 16px;
    }
}
@media screen and (max-height: 500px) {
    #zone-2 {
        grid-template-columns: 3fr 4fr;
    }
}
@media screen and (max-width: 414px) and (max-height: 736px) {
    #zone-2 {
        grid-template-columns: 1fr;
    }
    .other-info .item-content {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    #zone-2 > .other-info {
        order: 2;
    }
}
@media screen and (max-width: 736px) and (max-height: 414px) {
    .item-content img {
        max-width: 250px;
    }
}
@media screen and (max-width: 667px) and (max-height: 375px) {
    .item-content img {
        max-width: 230px;
    }
}