.color-1, .color-block-1 {
    background: #FCD38F;
}
.color-2, .color-block-2 {
    background: #7D94AB;
}
/* 所有小螢幕 */
@media screen and (max-width: 768px) and (min-height: 1024px) {
    .container {
        grid-gap: 24px;
    }
}
@media screen and (max-width: 844px) and (max-height: 844px) {
    .container {
        grid-gap: 24px;
    }
}